{% extends 'base.html' %}
{% block content%}


<p> &#x1F3BC;{{song.writer}}님의 추천 </p>
<br><br>
<a href="{% url 'music:list' %}"> 돌아가기 ↩︎</a>
<br><br>
<p style="font-size:30px;">&#x2714; {{song.songtitle}}</p>
<p>{{song.songwriter}}</p>
<p>{{song.lyrics}}</p>

<p>&#x1F3B1; 지금 이 노래, 들어보기 <p>
<iframe width="560" height="315" src="https://youtube.com/embed/{{song.srtvid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p> 동영상을 재생할 수 없다고 뜨는 경우는, 해당 유튜브 링크에서 퍼가기를 비허용 한 것입니다.</p>
<p> 감상을 원하신다면, YouTube에서 보기를 클릭하여 감상해주세요 &#x1F3B5;</p>
<br>
<hr>
{% for comment in comments %}

  <p>{{comment.get_icon_display}} {{comment.name}}님의 댓글</p>
  <br>
  {{comment.text}}
<br><br><br>

{% if comment.opinion == 'bad'%}
<p style="font-size:13px; font-style:oblique">- {{comment.name}} 님은 {{song.songtitle}}을(를) 추천하지 않았어요.</p>
{% else %}
<p style="font-size:13px; font-style:oblique">- {{comment.name}} 님은 {{song.songtitle}} 을(를) 추천했어요. </p>
{% endif %}

<a style="float:right; font-size:13px;" href="{% url 'music:comment_delete' comment.id %}">댓글 삭제하기</a>
<br><hr>
{% endfor %}
<br>

<form action="{% url 'music:detail' song.id %}" method="POST">
{%csrf_token%}
<p>당신을 표현하는 이모지는? </p>
<select name="icon">
    <option value="none"selected>=== 선택 ===</option>
    <option value="cat" >🐈</option>
    <option value="dog">🐶</option>
    <option value="good" >👍🏻</option>
    <option value="happy">😁</option>
    <option value="heart" >💜</option>
    <option value="cool">😎</option>

  </select>
<br><br>
<p>닉네임을 알려주세요</p> 
<input name = "name" type="text">
<br><br>
<p>어떤 말을 남기고 싶은가요?</p> 
<textarea name="text" cols="80" rows="3"></textarea>
<br><br><br>
<p>이 노래에 대해서 어떻게 생각하나요?</p> 

<select name="opnion">
    <option value="none"selected>=== 선택 ===</option>
    <option value="good" >추천해요!</option>
    <option value="bad">아쉬워요!</option>
  </select>
 
<button type="submit"> 댓글 등록하기 </button>
</form>
<br><br><br>
<a href="{% url 'music:delete' song.id %}">글 삭제하기</a>
{% endblock %}

